* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid #ccc;
  aspect-ratio: 1;
}
