* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-style: italic;
  font-size: 46px;
}

.container {
  display: flex;
  align-items: start;
  gap: 20px;
}

#board {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
}

.btn {
  border: none;
  outline: none;
  display: inline-block;
  font-family: inherit;
  background-color: transparent;
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-weight: 300;
  border-radius: 8px;
  text-wrap: nowrap;

  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #111;
  color: #fff;
  border-color: currentColor;
}

.square {
  border: 1px solid #ccc;
  aspect-ratio: 1;
}

.hidden {
  display: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 0;
}

.color-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#color {
  flex: 1;
}
