* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid #ccc;
  aspect-ratio: 1;
}

#square-size {
  outline: none;
  border: none;
  background-color: chocolate;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}
